@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

#content {
    display: none;
}

body {
    background-color: #E6F1F8;
}

/* Loading Preview */
#loading-spinner {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 50px auto;
    animation: spin 1s linear infinite;
}

#loading-spinner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    51% {
        transform: rotate(181deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

/* Title and input */
.container {
    text-align: center;
}

#pokeGuessImg{
    width: 450px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    margin-top: 1px;
    cursor: pointer;
}

button img {
    width: 30px;
    height: 30px;
}

#autocomplete-input {
    width: 215px;
    height: 30px;
    font-size: large;
    margin-left: 40px;
}

/* Auto complete */
#autocomplete-results {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    max-height: 250px;
    overflow: auto;
}

.pokemonAnchor {
    display: table-row;
}

.pokeDiv {
    display: table-cell;
    vertical-align: middle;
    width: 215px;
    text-align: left;
    background-color: #FFD700;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pokeDiv img {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    background-color: white;
    border-right: 1px solid black;
}

#autocomplete-results .pokemonAnchor:last-of-type .pokeDiv {
    border-bottom: 1px solid black;
}

.pokeDiv p {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#autocomplete-results .pokemonAnchor {
    cursor: pointer;
}

/* Answers */
.my-answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-answer:first-child .box{
    border: 0px solid transparent;
}

.my-answer:first-child p{
    color: black;
}

.box {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    margin: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box p{
    color: white;
    z-index: 2;
}

.my-answer div img {
    max-width: 115%;
}

.true{
    background-color: green;
}

.false{
    background-color: rgb(213, 61, 61);
}

.higher{
    background-color: rgb(213, 61, 61);
}

.higher::after{
    position: absolute;
    width: 100%;
    clip-path: polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
    height: 100%;
    background: rgba(0,0,0,.5);
    content: "";
}

.lower{
    background-color: rgb(213, 61, 61);
}

.lower::after{
    position: absolute;
    width: 100%;
    clip-path: polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
    height: 100%;
    background: rgba(0,0,0,.5);
    content: "";
    z-index: 1;
}


/*Timer  */ 

h3{
    font-family: 'Tektur', cursive;
}